<div class="page-content">
  <div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>

          <mat-form-field>
            <mat-label>Поиск</mat-label>
            <input matInput #search autocomplete="off" [(ngModel)]="searchKey" (keyup)="applySearch()">
            <button mat-icon-button matSuffix aria-label="Clear" matTooltip="Очистить" *ngIf="searchKey"
              (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <div style="width: 10px;"></div>

          <mat-form-field>
            <mat-select [(value)]="selectedMonth" (selectionChange)="monthSelected()">
              <mat-option value="Not choosed">Не выбрано</mat-option>
              <mat-option value="1">Январь</mat-option>
              <mat-option value="2">Февраль</mat-option>
              <mat-option value="3">Март</mat-option>
              <mat-option value="4">Апрель</mat-option>
              <mat-option value="5">Май</mat-option>
              <mat-option value="6">Июнь</mat-option>
              <mat-option value="7">Июль</mat-option>
              <mat-option value="8">Август</mat-option>
              <mat-option value="9">Сентябрь</mat-option>
              <mat-option value="10">Октябрь</mat-option>
              <mat-option value="11">Ноябрь</mat-option>
              <mat-option value="12">Декабрь</mat-option>
            </mat-select>
          </mat-form-field>
          
          <div style="width: 10px;"></div>

          <mat-form-field>
            <mat-select [(value)]="selectedYear" (selectionChange)="yearSelected()">
              <mat-option value="Not choosed">Не выбрано</mat-option>
              <mat-option *ngFor="let year of years" value="{{year}}">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row wrap">
    <div fxFlex="100">
      <mat-card>
        <mat-card-content>
          <div class="table-responsive">
            <table mat-table class="table v-middle" [dataSource]="data" matSort>

              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
                <td mat-cell *matCellDef="let row" [innerHtml]='row.date !== null ? (row.date | search:searchKey) : ""'>
                </td>
              </ng-container>

              <!-- Time Column -->
              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Время</th>
                <td mat-cell *matCellDef="let row" [innerHtml]='row.time !== null ? (row.time | search:searchKey) : ""'>
                </td>
              </ng-container>

              <!-- T Column -->
              <ng-container matColumnDef="t">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Температура</th>
                <td mat-cell *matCellDef="let row" [innerHtml]='row.t !== null ? (row.t | search:searchKey) : ""'></td>
              </ng-container>

              <!-- AirHumidity Column -->
              <ng-container matColumnDef="airHumidity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Влажность воздуха</th>
                <td mat-cell *matCellDef="let row"
                  [innerHtml]='row.airHumidity !== null ? (row.airHumidity | search:searchKey) : ""'></td>
              </ng-container>

              <!-- Td Column -->
              <ng-container matColumnDef="td">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Точка росы</th>
                <td mat-cell *matCellDef="let row" [innerHtml]='row.td !== null ? (row.td | search:searchKey) : ""'>
                </td>
              </ng-container>

              <!-- AtmospherePressure Column -->
              <ng-container matColumnDef="atmospherePressure">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Атмосферное давление</th>
                <td mat-cell *matCellDef="let row"
                  [innerHtml]='row.atmospherePressure !== null ? (row.atmospherePressure | search:searchKey) : ""'></td>
              </ng-container>

              <!-- WindDirection Column -->
              <ng-container matColumnDef="windDirection">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Направление ветра</th>
                <td mat-cell *matCellDef="let row"
                  [innerHtml]='row.windDirection !== null ? (row.windDirection | search:searchKey) : ""'></td>
              </ng-container>

              <!-- WindSpeed Column -->
              <ng-container matColumnDef="windSpeed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Скорость ветра</th>
                <td mat-cell *matCellDef="let row"
                  [innerHtml]='row.windSpeed !== null ? (row.windSpeed | search:searchKey) : ""'></td>
              </ng-container>

              <!-- CloudCover Column -->
              <ng-container matColumnDef="cloudCover">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Облачность</th>
                <td mat-cell *matCellDef="let row"
                  [innerHtml]='row.cloudCover !== null ? (row.cloudCover | search:searchKey) : ""'></td>
              </ng-container>

              <!-- h Column -->
              <ng-container matColumnDef="h">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Граница облачности</th>
                <td mat-cell *matCellDef="let row" [innerHtml]='row.h !== null ? (row.h | search:searchKey) : ""'></td>
              </ng-container>

              <!-- vv Column -->
              <ng-container matColumnDef="vv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Горизонтальная видимость</th>
                <td mat-cell *matCellDef="let row" [innerHtml]='row.vv !== null ? (row.vv | search:searchKey) : ""'>
                </td>
              </ng-container>

              <!-- WeatherPhenomenon Column -->
              <ng-container matColumnDef="weatherPhenomenon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Погодные явления</th>
                <td mat-cell *matCellDef="let row"
                  [innerHtml]='row.weatherPhenomenon !== null ? (row.weatherPhenomenon | search:searchKey) : ""'></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <app-pager class="pager" [pageSize]="pagerParams.pageSize" [totalCount]="totalCount"
              [pageIndex]="pagerParams.pageNumber" (pageChanged)="onPageChanged($event)"></app-pager>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>