<mat-toolbar *ngIf="sidenav.mode === 'over'">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>        
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Главная</span>
        </button>
        <button mat-button class="menu-button" routerLink="/weather">
            <mat-icon>table</mat-icon>
            <span>Таблица погоды</span>
        </button>
        <button mat-button class="menu-button" routerLink="/fileUploader">
            <mat-icon>upload</mat-icon>
            <span>Загрузка файлов</span>
        </button>

        <mat-divider></mat-divider>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <ng-container *ngTemplateOutlet="contentComponent"></ng-container>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>